

body {
    color: black;
    margin: 10px auto;
    max-width: 1000px;
    line-height: 1.6;
    font-size: 18px;
    padding: 10 10px;
    text-align: justify;
    background-color: rgb(243, 243, 227);
  }
  